* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: whitesmoke;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.container {
  border: 1px solid gray;
  background-image: url("https://res.cloudinary.com/dwomgx0nz/image/upload/v1655225239/bg-intro-desktop_hm71mp.png");
  background-color: hsl(0, 100%, 74%);
  margin: 60px;
  margin-left: 250px;
  padding: 50px;
  width: 65%;
  height: 600px
}
header {
   margin: 25px;
   margin-left: 380px;
   padding: 20px;
}
aside  {
  margin: 20px;
  margin-bottom: -50px;
  padding: 10px;

}

.first {
  font-size: 30px;
  margin: 10px;
}
.secon {
  font-size: 12px;
  margin: 10px;
  }
  
.top-btn {
  background-color: hsl(248, 32%, 49%);
  color: whitesmoke;
  opacity: 0.9;
  padding: 12px;
  border-radius: 5px;
  border: none;
  width: 105%;
  box-sizing: border-box;
  box-shadow: 1px 2px hsl(249, 10%, 26%);
  font-size: 11px;
  cursor: pointer;
}
.bottom-btn {
  background-color: hsl(154, 59%, 51%);
  padding: 10px;
  color: whitesmoke;
  opacity: 0.9;
  border-radius: 5px;
  border: none;
  width: 85%;
  box-sizing: border-box;
  box-shadow: 1px 2px green;
  cursor: pointer;
}
main {
 margin-top: -130px;
 background-color: white;
 float: left;
 margin-left: 400px;
 width: 45%;
 height: 400px;
 text-align: center;
 border-radius: 5px;
 box-sizing: border-box;
 box-shadow: 1px 2px hsl(246, 25%, 77%);
}
main input {
      margin: 8px;
      padding: 9px;
      width: 90%;
      border: 0.1px  solid gray;
      border-radius: 4px;
      background-color: whitesmoke;
      color: black;
      opacity: 0.7;
  
      
}
input:required:hover {
  border: 3px solid red;
  
}
input:required:active {

border-color: red;
}
.form-field {
   margin: 10px;
}

footer {
  color: hsl(246, 25%, 77%);
  font-size: 10px;
  margin: 12px;
}

mark {
  background-color: white;
  color: red;
}
/*for mobile*/
@media only screen and (max-width: 375px) 
{
  body { width: 100%;
       
        }
.container {
  background-image: url("https://res.cloudinary.com/dwomgx0nz/image/upload/v1655225239/bg-intro-mobile_qx01pa.png");
  display: grid;
  grid-template-areas: 
   'a a'
   'b b'
   'c c'
   'd d';
   width: 100%;
   height: 1000px;
   margin: 0;
   padding: 0;
   
}
header, aside, main, footer {
  margin: 0;
  
}

.top-btn {
  grid-area: a;
  width: 100%;
  padding: 20px;
  font-size: 10px;
  margin-bottom: 0;
  margin-top: 300px;
  
}
.text {
  grid-area: b;
 margin-top: -300px;
 position: static;
 
  
}
.form-field {
  grid-area: c;
  padding: 0px;
  
  
}
.bottom-btn {
  grid-area: d;
  width: 85%;
  padding: 10px;
  font-size: 10px;
}
main {
  margin: 10px;
  margin-top: -10px;
  width: 95%;

}
main input {
  padding: 10px;
  font-size: 10px;
}
footer {
  font-size: 10px;
  padding: 5px;
}
}

@media print  {
.container {background-image: url("https://res.cloudinary.com/dwomgx0nz/image/upload/v1655225239/favicon-32x32_kl09lr.png")  !important;
  background-color: red;
}
main{
  margin-right: 100px;

}
}